<div class="card m-3" >
    <h1 class="display-4 m-2">Notes App Nodes js and Mongodb</h1>
    <p class="lead m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
    <hr class="m-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla nostrum sapiente excepturi magni et, eum incidunt laudantium iure odit ab facilis cumque, unde asperiores commodi. Necessitatibus error asperiores ducimus quisquam?</p>
    <a href="http://youtube.com" class="btn btn-primary m-4 " >Youtube</a>
</div>